.spinner{
    margin-left:45%;
    float: left;
}
#waiting{
    margin-left: 35%;
    font-weight: bold;
    color: gray;
}
sm-input{
    margin-left: 25%;
    width: 50%;
}
sm-button{
    margin-left: 38%;
    width: 20%;
}
.block{
    display:block;
}
#otp{
    margin-left: 15%;
    margin-right: 15%;}
.otpstyle{
    color: gray;
    font-weight: bold;
}


@media screen and (max-width:900px){
    sm-button{
        width:fit-content;

    }
    sm-input{
        width:100%;
        margin-left: 0;
    }
    .spinner{
        margin-left:35%;
        float: left;
    }
    #waiting{
        margin-left:10%;
        font-weight: bold;
        color: gray;
    }
}